<div class="cocktail-card d-flex justify-content-between">

      <div class="ingredients-card">
        <p> Ingredients :
          <% @cocktail.ingredients.each do |ingredient|%>
          <%= ingredient.name %>
          <% end %>
        </p>
        <%= link_to '+ Add Ingredient', edit_cocktail_path(@cocktail), class: "btn btn-primary card-link w-50 my-2" %>
      </div>


      <div class="cocktail-img">
        <img src="https://loremflickr.com/320/240/" alt="">
        <h1><%= @cocktail.name %></h1>
      </div>


  </div>

