.card-columns {
  width: 80%;
  margin: 0 auto;
}
.card {
  background-color: white;
  margin: 2px;
  text-align: center;
  .card-title {
    color: black;
  }

}
.cocktail-card {
  height: 500px;
  box-shadow: 2px 2px 2px 2px $gray, 4px 4px 4px 4px $gray;
  width: 80%;
  margin: 50px auto;
  background-color: white;
  text-align: center;
  .cocktail-img {
    text-align: center;
    height: 80%;
    width: 35%;
    border: 5px solid white;
    }
  }

.ingredients-card {
  width: 50%;
  padding: 15px;

  h3 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    }
  .ingredient-card-actions {
    text-align: center;
    margin-top: 25px;
  }
  .ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    margin-top: 25px;
    text-align: center;

    p {
      background-color: $light-transparent;
      box-shadow: 1px 1px 1px 1px $light-transparent;
      font-size: 15px;
      font-weight: bold;
    }

  }
}

.card-img-top {
  border: 15px solid white;
  width: 85%;
}
