.form-container {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 40%;
  .form-input {
    padding: 25px;
  }
  .form-action {
    padding: 10px;
    margin-bottom: 10px;
  }
}
