.form-container {
  text-align: center;
  text-decoration: none;
  width: 40%;
  height: 400px;

  .form-input {
    padding-top: 60px;
    text-shadow: 1px 1px;
    font-size: 20px;

  }
  .form-action {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
}
